<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/home.css">

	<title>{{title}}</title>
</head>
 <body>
	
	 <div class="hm-container">
	 
	 	<h1 class="hm-title">WebChat</h1>
		 <hr class="horizon">
		 <div id="face">
		<a href="/auth/facebook"><img src="../images/login_with_fb.png" style="width:60%" class="img-rounded"></a>
		 </div>
	 
	 </div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
 </body>
</html>